.room {

  min-width: 25em;
  max-width: 45%;
  margin: 1em;

  background-color: #FFFFFFAA !important;
  backdrop-filter: blur(5px);

  &.is-on .room-header {

    &.heater {
      background-color: #fd611d !important;
    }

    &.cooler {
      background-color: #1976d2 !important;
    }
    
    color: white;
  } 
  
  &.is-off .room-header {
    background-color: #777777ee !important;
    color: white;
  }

  &.is-off .command {
    opacity: 0.5;
    color: currentColor;
  }

  &.is-on .command {
    opacity: 1;
    color: currentColor;
  }
  
  .room-pic {
    width: 6em;
    height: 6em;
    border-radius: 50%;

    background-size: cover;
    filter: grayscale(1);
  
    &.elina {
      background-image: url('../img/elina.png');
    }

    &.jeanne {
      background-image: url('../img/jeanne.png');
    }

    &.parents {
      background-image: url('../img/parents.png');
    }

    &.salon {
      background-image: url('../img/salon.png');
    }
  }

  &.is-on .room-pic {
    filter: none;
  }


}
